<nav>
    <div class="site-ttile">
        <a href="/"><h1>Blog Page</h1></a>
        <p>A simple blog site</p>

    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create</a></li>
    </ul>
</nav>