<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <h1>404 Error</h1>
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <p>404 Error Page</p>
        
    </div>
    <%- include('./partials/footer.ejs')%>

</body>
</html>